/* GENERAL */

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* header -  Willkommen bei Wikipedia */
.header p{
    line-height: 1.6;
}

a, .header p, .first-row, .second-row, .third-row, footer{
    text-align: center;
    text-decoration: none;
}

.left li, .right li, .search{
    display: inline;
}

a:hover{
    text-decoration: underline;
}

.first-row li, .second-row li, .third-row li, footer li{
    display: inline;
    margin: 0 1.25em;
}

.current-news p{
    text-align: left;
}

/* headings design */
.header h2,
.section h2,
.footer h2 {
    background-color: #d8e8ff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: medium;
    padding: 6px;
    margin: 0;
}

.header h2, #artikel-des-tages h2, .footer h2 {
    text-align: center;
}

.header, .section, .footer {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.juicer {
    float: left;
    margin: 5px;
}

.heading {
    font-weight: bold;
}

ul {
    list-style: none;
}

/* footer */
.footer li{
    display: inline;
    text-align: center;
}

.footer-links ul, .panel ul{
    padding: 0;
}

.footer-links li{
    display: inline;
}

/* GRID */

.page-container{
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-gap: 20px;
}

.panel{
    grid-column: 1 / 2;
    grid-row: 1 / 10;
    font-size: smaller;
    margin: 10px;
}

.log-in{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    text-align: right;
    font-size: smaller;
}

.log-in li{
    display: inline;
    text-align: right;
}

.navigation .top .left{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.left li{
    text-align: left;
    font-size: smaller;
}

div.navigation.top.right{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.right li{
    text-align: right;
    font-size: smaller;
}

.header{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.main{
    grid-row: 4 / 8;
}

.daily-article{
    grid-row: 4 / 5;
    grid-column: 2 / 4;
}

.was-geschah-heute{
    grid-row: 5 / 6;
    grid-column: 2 / 4;
}

.verstorben-2022{
    grid-row: 6 / 7;
    grid-column: 2 / 4;
}

.lustige-memes{
    grid-row: 7 / 8;
    grid-column: 2 / 4;
}

.footer{
    grid-row: 8 / 9;
    grid-column: 2 / 4;
}

.real-footer{
    grid-row: 9 / 10;
    grid-column: 2 / 4;
}